.hero {
  display: flex;
  flex-basis: 30rem;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
  background-color: rgba(17, 17, 17, 0.972);
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  margin-bottom: 4rem;
}
.hero-slider {
  display: flex;
  justify-content: center;
  align-content: flex-start;
}
.hero-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0.3rem double rgba(17, 17, 17, 0.972);
  flex-basis: 20rem;
  flex-grow: 0.8;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}
.hero-item__image-div {
  width: 100%;
}
.hero-item__image {
  object-fit: contain;
  max-width: 100%;
  border-bottom-left-radius: 7%;
  border-bottom-right-radius: 7%;
}
.hero-item__details {
  max-width: 100%;
  max-height: auto;
  overflow-wrap: break-word;
}
.hero-item__title,
.hero-item__summary {
  color: rgba(245, 245, 245, 0.965);
  padding: 0.2rem 1rem;
  margin-bottom: 0.5rem;
  line-height: 150%;
}

/* Responsive -
 * large screens 
 */
@media screen and (min-width: 768px) {
  .hero {
    justify-content: flex-start;
  }
  .hero-item {
    display: flex;
    flex-basis: auto;
    flex-direction: row;
  }

  .hero-item__details {
    flex-basis: 60%;
    margin-top: 5%;
  }
}
