.top-nav {
  background-color: rgba(168, 168, 168, 0.97);
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  padding: 0 1rem;
  color: rgba(224, 255, 255, 0.9);
  position: fixed;
  top: 1rem;
  right: 0.3rem;
  transition: all 0.25s ease-in-out;
  z-index: 12;
}
.top-nav.active {
  border: 0.1rem solid rgba(3, 3, 3, 0.2);
  transition: all 0.08s ease-out;
  padding-top: .5rem;
  margin-top: -.5rem;
}
.top-nav__toggle {
  position: absolute;
  top: 0.1rem;
  right: 0rem;
  width: 2.4rem;
  height: 2rem;
  background: transparent;
  color: rgb(251, 200, 166);
  border-top: 0.3rem solid;
  border-bottom: 0.3rem solid;
  font-size: 0;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.top-nav__toggle:before,
.top-nav__toggle:after {
  content: '';
  display: block;
  width: 100%;
  height: 0.28rem;
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgb(251, 216, 145);
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease-in;
}

.top-nav__toggle:hover {
  color: rgba(148, 146, 146, 0.89);
}
.top-nav__toggle.active {
  border-color: transparent;
}
.top-nav__toggle.active:before {
  background: rgba(148, 146, 146, 0.89);
  transform: translate(-50%, -50%) rotate(45deg);
}
.top-nav__toggle.active:after {
  background: rgba(148, 146, 146, 0.89);
  transform: translate(-50%, -50%) rotate(-45deg);
}
.top-nav__logo {
  margin-top: 2rem;
  color: unset;
  position: fixed;
  left: 0.2rem;
  top: -1rem;
}
.top-nav__logo img {
  object-fit: contain;
  height: auto;
  width: 2rem;
}
.top-nav__list {
  list-style: none;
  display: none;
}
.top-nav__list.active {
  display: block;
  margin: 1.2rem 0;
  width: fit-content;
  height: 100%;
}
.top-nav__list.active .top-nav__list-item {
  margin-top: 1.5rem;
}
.top-nav__list-item {
  text-align: center;
  margin: 0;
  padding: 1rem;
  transition: transform 0.2s ease;
}
.top-nav__list-item:hover {
  transform: scale(1.1);
  background-color: rgba(148, 146, 146, 0.89);
}
.top-nav__link {
  color: black;
}
.top-nav__link,
.top-nav__logo {
  text-decoration: none;
}

/* Responsive -
 * large screens 
 */
@media screen and (min-width: 768px) {
  .top-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-content: center;
    justify-content: space-between;
    transition: all 0.25s ease-in-out;
  }
  .top-nav__logo {
    position: unset;
  }
  .top-nav__toggle {
    display: none;
  }
  .top-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 1rem;
    flex-basis: 70%;
  }
  .top-nav__list-item {
    flex-basis: auto;
  }
}
