.status__filter-bar,
.record__info-bar {
  display: flex;
  flex-direction: row;
  background: rgba(168, 168, 168, 0.97);
  justify-content: flex-end;
  height: 20rem;
}
.status__filter-button-holder,
.record__info-button-holder {
  display: flex;
  align-self: flex-end;
  margin-block-end: 0.3rem;
  width: auto;
}
.status__filter-button,
.record__info-button {
  background: rgb(148, 146, 146, 0.876) !important;
  position: relative;
  font-weight: 700;
}
.record__info-count {
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 1rem;
  left: 42.2%;
  font-size: 2.3rem;
  font-weight: 500;
}
.profile__record-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-auto-rows: 50rem;
  grid-gap: 1em;
}
.profile__record-item {
  background: #b6b4b467;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: .2rem;
  margin: 0 1.2rem;
}
.profile__record-image-div {
  flex-basis: 40%;
  height: 40%;
}
.profile__record-image {
  border-radius: 0.2rem 0 0 0.2rem;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.profile__record-details {
  flex-basis: 60%;
  height: 60%;
}
.profile__record-summary {
  padding-left: .4rem;
  height: 80%;
  overflow: hidden;
  overflow-y: auto;
}

@media screen and (min-width: 768px) {
  .status__filter-bar,
  .record__info-bar {
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-height: 100vh;

  }
  .status__filter-button-holder,
  .record__info-button-holder {
    flex-direction: column;
    align-self: center;
    padding: 2rem 0;
  }
  .status__filter-button,
  .record__info-button {
    width: auto;
    height: 11rem;
    font-size: 1.6rem;
  }
  .status__filter-button:hover,
  .record__info-button:hover {
    border-radius: 7%;
  }
  .status__filter-button,
  .record__info-button:not(:first-of-type) {
    margin-top: 1rem;
  }
  .profile__record-list {
    height: 94vh;
    overflow: hidden;
    overflow-y: auto;
  }
  .profile__record-item {
    margin: initial;
  }
  .record__info-text {
    display: inline-block;
    margin-top: 30%;
  }
}
@media screen and (max-width: 767.9px) {
  .status__filter-bar,
  .record__info-bar {
    flex-direction: column;
    max-height: 14rem;
  }
  .status__filter-button-holder,
  .record__info-button-holder {
    justify-content: center;
    width: 100%;
    padding: 0 .2rem;
  }
  .status__filter-button,
  .record__info-button {
    margin: auto 1.5rem;
    text-align: center;
    height: 9rem;
    width: 10rem;
    font-weight: 600;
    font-size: 1.3rem;
    padding: 0;
  }
  .record__info-text {
    display: inline-block;
    margin-top: 45%;
  }
}
@media screen and (max-width: 425px) {
  .status__filter-button-holder,
  .record__info-button-holder {
    justify-content: space-around;
    width: 100%;
    padding: 0 .2rem;
  }
  .status__filter-button,
  .record__info-button {
    height: 9rem;
    width: 9.7rem;
    font-weight: 600;
    font-size: 1.3rem
  }
}
