<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add record | iReporter</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <header>
      <nav class="top-nav">
        <span class="top-nav__toggle"></span>
        <a href="#" class="top-nav__logo"
          ><img src="../assets/images/logo.svg" alt="logo"
        /></a>
        <ul class="top-nav__list">
          <li class="top-nav__list-item">
            <a href="../../index.html" class="top-nav__link">Home</a>
          </li>
          <li class="top-nav__list-item">
            <a href="./user.html" class="top-nav__link">Profile</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="add-edit">
      <section class="wrapper">
        <div class="bg-grey">
          <h1 class="add-edit__mode">Add new record</h1>
          <form
            class="add-edit__form"
            id="add-edit--form"
            enctype="multipart/form-data"
            method="POST"
          >
            <div>
              <label for="add-edit-type">Type</label>
              <select
                class="add-edit__type"
                name="add-edit-type"
                id="add-edit-type"
              >
                <option value="">Please select</option>
                <option value="red-flag">red flag</option>
                <option value="intervention">Intervention</option>
              </select>
            </div>
            <div class="add-edit__media">
              <label for="add-edit-media-toggle">Photos/Video:</label>
              <input
                class="add-edit__media-toggle"
                type="checkbox"
                id="add-edit-media-toggle"
              />
            </div>
            <div class="full-width">
              <label for="add-edit-title">Title</label>
              <input
                class="add-edit__title"
                name="add-edit-title"
                id="add-edit-title"
                type="text"
              />
            </div>
            <div class="full-width">
              <label for="add-edit-details">Details</label>
              <textarea
                class="add-edit__details"
                name="add-edit-details"
                id="add-edit-details"
              ></textarea>
            </div>
            <div class="full-width location-btn-holder">
              <label for="add-edit-location">Location</label>
              <input
                class="add-edit__location"
                type="text"
                id="add-edit-location"
                name="add-edit-location"
                placeholder="Start typing a location"
              />
              <button class="add-edit__location--clear" id="coords-reset">
                Clear
              </button>
            </div>
            <input
              class="add-edit__coords full-width"
              type="text"
              id="add-edit-coords"
              name="add-edit-coords"
              disabled
              hidden
            />
            <div class="hidden gone">
              <label for="add-edit-pictures">Pictures</label>
              <input
                class="add-edit__pictures"
                id="add-edit-pictures"
                type="file"
                name="add-edit-images[]"
                accept="image/*"
                multiple
                capture="environment"
              />
            </div>
            <div class="hidden gone">
              <label for="add-edit-videos">Videos</label>
              <input
                class="add-edit__videos"
                id="add-edit-videos"
                type="file"
                name="add-edit-videos[]"
                accept="video/*"
                multiple
                capture="environment"
              />
            </div>
            <div class="full-width">
              <input class="add-edit__submit" type="submit" value="Create" />
            </div>
          </form>
        </div>
      </section>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApBXNZ8DfcSajnuuNOEMWNNH0eIZdBtws&libraries=places"></script>
    <script src="../assets/js/nav.js"></script>
    <script src="../assets/js/create-edit.js"></script>
  </body>
</html>
