<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log in | iReporter</title>
  <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
  <nav class="topbar">
    <div class="topbar__wrapper">
      <a href="#" class="topbar__brand">iReporter</a>
      <ul class="links">
        <li><a class="topbar__link" href="../../index.html">Home</a></li>
        <li><a class="topbar__link" href="#">About</a></li>
        <li><a href="./signup.html" class="btn--nav">SIgn Up</a></li>
      </ul>
    </div>
  </nav>
  <main class="auth">
    <form class="auth__form auth__form--login">
      <div class="auth__title">
        <h2 class="main-text">Login to</h2>
        <p class="sub-text">Start reporting</p>
      </div>
      <div class="form-field">
        <label for="login-username">Username</label>
        <input class="form-field__login-username" type="text" id="login-username" placeholder="Ahmed Obi">
      </div>
      <div class="form-field">
        <label for="password">Password</label>
        <input  class="form-field__login-password" type="password" id="login-password" placeholder="*******">
      </div>
      <button class="btn btn--submit" type="submit">Login</button>
      <div class="auth__hint-field">
        <p>Forgot Password? <a href="#">We can help</a></p>
        <p>Need an account? <a href="./signup.html">Create one for free</a></p>
      </div>
    </form>
  </main>
  <footer class="footer">
    <div class="links-wrapper ">
      <a class="footer__link" href="home.html" target="_blank">Home</a>
      <a class="footer__link" href="about.html" target="_blank">About</a>
      <a class="footer__link" href="login.html" target="_blank">Login</a>
      <a class="footer__link" href="register.html" target="_blank">Register</a>
    </div>
    <div>
      <p class="copyright">iReporter &copy;2018</p>
    </div>
  </footer>

  <script src="../assets/js/auth.js"></script>
</body>

</html>