<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>iReporter</title>
  <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
  <nav class="topbar">
    <div class="topbar__wrapper">
      <a href="#" class="topbar__brand">iReporter</a>
      <ul class="links">
        <li><a class="topbar__link" href="./user.html">Profile</a></li>
        <li><a href="../../index.html" class="btn--nav">Logout</a></li>
      </ul>
    </div>
  </nav>
  <div class="dashboard">
    <aside class="dashboard__sidebar">
      <button class="dashboard__sidebar-btn dash">Dashboard</button>
      <div class="dashboard__stat">
        <p class="dashboard__stat-title">Drafts</p>
        <p class="dashboard__stat-count">10</p>
      </div>
      <div class="dashboard__stat">
        <p class="dashboard__stat-title">Resolved</p>
        <p class="dashboard__stat-count">20</p>
      </div>
      <div class="dashboard__stat">
        <p class="dashboard__stat-title">Under Investigation</p>
        <p class="dashboard__stat-count">15</p>
      </div>
      <div class="dashboard__stat">
        <p class="dashboard__stat-title">Rejected</p>
        <p class="dashboard__stat-count">12</p>
      </div>
    </aside>
    <main>
      <section class="create-edit-form-wrapper">
        <form class="create-edit-form">
          <div class="create-edit-form__header">
            <h2 class="create-edit-form__title">Create Record</h2>
          </div>
          <div class="form-field">
            <label for="create-type">Report Type</label>
            <select class="create-edit-form__type" id="create-type">
              <option value="" default>-----</option>
              <option value="red-flag">Red-Flag</option>
              <option value="intervention">Intervention</option>
            </select>
          </div>
          <div class="form-field">
            <label for="create-title">Report Title</label>
            <input type="text" id="create-title">
          </div>
          <div class="form-field">
            <label for="create-comment">Report Comment</label>
            <textarea rows="4" id="create-comment"></textarea>
          </div>
          <div class="form-field location">
            <label for="create-location">Location of Event</label>
            <input class="create-edit-form__location" type="text" id="create-location">
            <button type="button" class="create-edit-form__location-reset btn">Clear</button>
          </div>
          <p class="create-edit-form__geocodes  hidden">
          </p>
          <div class="form-field">
            <label for="create-media">Media: <br />
              <small>you can add multiple videos & images</small>
            </label>
            <input type="file" id="create-media" multiple>
          </div>
          <button class="btn btn--submit" type="submit">Save Changes</button>
        </form>
      </section>
    </main>
  </div>
  <footer class="footer">
    <div class="copyright">
      <p>iReporter &copy;2018</p>
    </div>
  </footer>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApBXNZ8DfcSajnuuNOEMWNNH0eIZdBtws&libraries=places"></script>
  <script src="../assets/js/dash.js"></script>
</body>

</html>