<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>iReporter</title>
  <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
  <nav class="topbar">
    <div class="topbar__wrapper">
      <a href="../../index.html" class="topbar__brand">iReporter</a>
      <p class="username btn--nav">Hi Skope</p>
      <ul class="links">
        <li><a class="topbar__link" href="./user.html">Dashboard</a></li>
        <li><a href="../../index.html" class="btn--nav">Logout</a></li>
      </ul>
    </div>
  </nav>
    <div class="dashboard">
      <aside class="dashboard__sidebar">
        <button class="dashboard__sidebar-btn new">NEW RECORD</button>
        <div class="dashboard__stat">
          <p class="dashboard__stat-title">Drafts</p>
          <p class="dashboard__stat-count">2</p>
        </div>
        <div class="dashboard__stat">
          <p class="dashboard__stat-title">Resolved</p>
          <p class="dashboard__stat-count">5</p>
        </div>
        <div class="dashboard__stat">
          <p class="dashboard__stat-title">Under Investigation</p>
          <p class="dashboard__stat-count">1</p>
        </div>
        <div class="dashboard__stat">
          <p class="dashboard__stat-title">Rejected</p>
          <p class="dashboard__stat-count">8</p>
        </div>
      </aside>
      <main class="dashboard__main">
        <div class="dashboard__filters">
          <select class="dashboard__filters-report-types">
            <option disabled>Filter</option>
            <option value="all" default>All</option>
            <option value="red-flag">Red Flags</option>
            <option value="intervention">Interventions</option>
          </select>
          <ul class="dashboard__filters-categories">
            <li class="active">All</li>
            <li>Draft</li>
            <li>Resolved</li>
            <li>Rejected</li>
          </ul>
        </div>
        <section class="dashboard__main-content">
          <div class="record">
            <img class="record__image" src="../assets/images/crashSite.jpeg" alt="crash site" >
            <div class="record__details">
              <h4 class="record__title">Title of Report</h4>
              <p class="record__comment">A platform to report corrupt acts and issues affecting the community while
                also seeking government's quick intervention</p>
            </div>
            <button class="record__more-btn">View More</button>
          </div>
        </section>
      </main>
    </div>
    <footer class="footer">
      <div class="copyright">
        <p>iReporter &copy;2018</p>
      </div>
    </footer>

    <!-- view detail modal -->
    <div class="modal-wrapper modal-wrapper--user ">
      <div class="detail-modal">
        <div class="detail-modal__header">
          <h2 class="detail-modal__title">Record Title</h2>
          <button class="detail-modal__close">&times;</button>
        </div>
        <div class="detail-modal__content">
          <div class="detail-modal__map">
            <img src="http://www.atsrhapsodynoidaextension.in/images/location-map.jpg" alt="location">
          </div>
          <h3 class="detail-modal__content-title">Record title</h3>
          <span>by: <a href="#">oguntoye opeyemi</a>
          <p class="detail-modal__comment">A platform to report corrupt acts and issues affecting the community while
            also seeking government's quick intervention</p>
          <h4 class="detail-modal__sub">Media</h4>
          <div class="detail-modal__media">
            <img src="../assets/images/crashSite.jpeg" alt="">
          </div>
        </div>
        <div class="detail-modal__footer">
          <button class="detail-modal__close">Close</button>
          <img src="../assets/images/edit-interface-symbol-of-pencil-outline.svg" alt="" class="detail-modal__edit">
        </div>
      </div>
    </div>


    <script src="../assets/js/dash.js"></script>
  </body>

  </html>