<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up | iReporter</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <header>
      <nav class="top-nav">
        <span class="top-nav__toggle"></span>
        <a href="#" class="top-nav__logo"
          ><img src="../assets/images/logo.svg" alt="logo"
        /></a>
        <ul class="top-nav__list">
          <li class="top-nav__list-item">
            <a href="../../index.html" class="top-nav__link">Home</a>
          </li>
        </ul>
      </nav>
    </header>
    <section class="wrapper wrapper--spaced">
      <div class="auth">
        <h2 class="auth__mode">Sign up</h2>
        <form class="auth__form" id="sign-up-form" action="POST">
          <label class="form__label" for="signup-username">username</label>
          <input
            class="auth__username"
            type="text"
            name="signup-username"
            id="signup-username"
            required
          />
          <label class="form__label" for="signup-password">password</label>
          <input
            class="auth__password"
            type="password"
            name="signup-password"
            id="signup-password"
            required
          />
          <label class="form__label" for="signup-password2"
            >Retype password</label
          >
          <input
            class="auth__password"
            type="password"
            name="signup-password2"
            id="signup-password2"
            required
          />
          <label class="form__label" for="signup-email">Email</label>
          <input
            class="auth__email"
            type="email"
            name="signup-email"
            id="signup-email"
          />
          <label class="form__label" for="signup-tel">Phone</label>
          <input
            class="auth__tel"
            type="tel"
            name="signup-tel"
            id="signup-tel"
          />
          <input class="auth__submit" type="submit" value="Sign Up" />
          <small class="form__link"
            >Already done? <a href="./login.html">Log In</a></small
          >
        </form>
      </div>
    </section>
    <script src="../assets/js/nav.js"></script>
  </body>
</html>
