<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign up | iReporter</title>
  <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
  <nav class="topbar">
    <div class="topbar__wrapper">
      <a href="#" class="topbar__brand">iReporter</a>
      <ul class="links">
        <li><a class="topbar__link" href="../../index.html">Home</a></li>
        <li><a class="topbar__link" href="#">About</a></li>
        <li><a href="./login.html" class="btn--nav">Log In</a></li>
      </ul>
    </div>
  </nav>
  <main class="auth">
    <form class="auth__form auth__form--signup">
      <div class="auth__title">
        <h2 class="main-text">Signup</h2>
        <p class="sub-text">Start reporting</p>
      </div>
      <div class="form-field">
        <label for="reg-first-name">First Name</label>
        <input type="text" id="reg-first-name" placeholder="Ahmed">
      </div>
      <div class="form-field">
        <label for="reg-last-name">Surname</label>
        <input type="text" id="reg-last-name" placeholder="Obi">
      </div>
      <div class="form-field">
        <label for="reg-username">Username</label>
        <input type="text" id="reg-username" placeholder="Ahmed Obi">
      </div>
      <div class="form-field">
        <label for="reg-email">Email</label>
        <input type="email" id="reg-email" placeholder="email@example.com">
      </div>
      <div class="form-field">
        <label for="reg-phone">Phone</label>
        <input type="tel" id="reg-phone" placeholder="0812 345 6789">
      </div>
      <div class="form-field">
        <label for="reg-password">Password</label>
        <input type="password" id="reg-password" placeholder="******">
      </div>
      <button class="btn btn--submit" type="submit">Create account</button>
      <div class="auth__hint-field">
        <p>Forgot Password? <a href="#">We can help</a></p>
        <p>Have an account? <a href="./login.html">Log In</a></p>
      </div>
    </form>
  </main>
  <footer class="footer">
    <div class="links-wrapper ">
      <a class="footer__link" href="home.html" target="_blank">Home</a>
      <a class="footer__link" href="about.html" target="_blank">About</a>
      <a class="footer__link" href="login.html" target="_blank">Login</a>
      <a class="footer__link" href="register.html" target="_blank">Register</a>
    </div>
    <div>
      <p class="copyright">iReporter &copy;2018</p>
    </div>
  </footer>

  <script src="../assets/js/auth.js"></script>
</body>

</html>